body{
            background-color: #4d4d4d;
        }
        .heading{
            margin-top: 40px;
            text-align: center;
        }
        .box{
            height: 250px;
            width: 250px;
            background-color: #666666;
            margin: 150px auto;
            padding: 60px 28px;
            border-radius: 10px;

        }
        .btn-container{
            display: flex;
            justify-content: center;
            margin: 20px auto;
        }
        .img-bulb{
            height: 250px;
            width: 250px;
            object-fit: contain;
        }
        .btn{
            width: 80px;
            font-size: larger;
            cursor: pointer;
            border: none;
        }
        .bulb-btn1{
            background-color: green;
        }
        .bulb-btn2{
            background-color: red;
        }

        @media screen and (max-width: 740px){
            .box{
            height: 240px;
            width: 250px;
            margin: 130px auto;
            padding: 60px 28px;
            border-radius: 10px;
        }

        }

        @media (min-width: 741px) and (max-width: 992px) {

             .box{
            margin: 140px auto;
            
        }

        }